---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";

import { Card, CardHeader, CardTitle, CardContent } from "@/components/ui/card";
import { AvatarComponent } from "../components/Avatar.tsx";
import Footer from "@/components/Footer.astro";
import Table from "@/components/Table";

import dayjs from "dayjs";
import timezone from "dayjs/plugin/timezone";
dayjs.extend(timezone);
dayjs.tz.setDefault("Asia/Shanghai");
const todayString = dayjs().format("YYYY-MM-DD");

import { getEntry } from "astro:content";
const tableEntry = await getEntry("timetable", "2024-2025-1");
---

<Layout title="Welcome to Astro x Shadcn Starter">
  <main class="container mx-auto px-4 py-16 max-w-4xl">
    <h1 class="text-5xl font-extrabold text-center mb-8 text-black-50">
      🖼️{todayString}
      <!-- <span class="text-3xl block mt-2 font-normal"
        >Starter Template</span
      > -->
    </h1>
    <Table data={tableEntry.data} client:load />

    <div class="hidden sm:grid-cols-2 gap-6">
      <Card className="shadow-md hover:shadow-xl transition-shadow">
        <CardHeader>
          <CardTitle>
            <AvatarComponent
              client:load
              src="https://github.com/withastro.png"
              alt="Astro"
              fallbackText="Astro"
            />
            Astro
          </CardTitle>
        </CardHeader>
        <CardContent>
          Build faster websites with less client-side JavaScript.
        </CardContent>
      </Card>
      <Card className="shadow-md hover:shadow-xl transition-shadow">
        <CardHeader>
          <CardTitle>
            <AvatarComponent
              client:load
              src="https://github.com/shadcn.png"
              alt="Shadcn"
              fallbackText="Shadcn"
            />
            Shadcn UI
          </CardTitle>
        </CardHeader>
        <CardContent>
          Beautifully designed components built with Radix UI and Tailwind CSS.
        </CardContent>
      </Card>
    </div>
  </main>
  <Footer />
</Layout>
